*{
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    background-color:  #dcdee76b;
}
form{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    margin-bottom: 20px;
    box-shadow: #efefef;
    padding: 20px;
    min-height: 70%;
    width: 700px;
}
.wrapper{
    background-color: #b7f5b30a;
    border: 10px solid #efefef;
    padding: 20px;
    margin: 20px 10px;
    min-width: 600px;
    min-height: 600px;
}
.input-container{
    border: 1px solid darkgreen;
    border-radius: 5px;
    font-size: 12px;
    width: 450px;
    height: auto;
    padding: 15px;
    margin-top: 40px;
    z-index: -1;
}
.data-container{
    margin-top: 30px;
    min-width: 540px;
}
.input-field{
    display: flex;
    justify-content: space-between;
    width: 400px;
    padding: 5px;
}
.select-option{
margin: 6px 0 10px 4px;
}
.select-option select{
    margin-left: 92px;
    width: 10rem;
    }
.btn{
    border-radius: 5px;
    margin-top: 10px;
    margin-left: 150px;
    font-size: 12px;
    width: 70px;
    padding: 2px;
}
th{
    background-color: #efefef;
}
table, th, td{
    border: 1px solid darkgreen;
    border-collapse: collapse;
    justify-content: center;
    font-size: 12px;
    padding: 5px;
}
th, td{
    overflow-wrap: break-word;
    text-align: center;
    max-width: 150px;
}







.col-1{width: 8.33%;}
.col-2{width: 16.66%;}
.col-3{width: 25%;}
.col-4{width: 33.33%;}
.col-5{width: 41.66%;}
.col-6{width: 50%;}
.col-7{width: 58.33%;}
.col-8{width: 66.66%;}
.col-9{width: 75%;}
.col-10{width: 83.33%;}
.col-11{width: 91.66%;}
.col-12{width: 100%;}