body{
    display: flex;
    background-color: #eebe92;
    justify-content: center;
}
form{
    border: 7px solid #d7d1d1;
    background-color: #fcf3cc;
    border-radius: 5px;
    margin-top: 15px;
    width: 700px;
    min-height: 500px;
}
.input-container{
    border: 1px solid darkgreen;
    border-radius: 5px;
    font-size: 15px;
    width: 500px;
    height: auto;
    margin: 40px;
    padding: 15px;
    z-index: 2px;
}
.input-field{
    display: flex;
    justify-content: space-between;
    width: 400px;
    padding: 5px;
}
.select-option{
margin: 6px 0 10px 4px;
}
.select-option select{
    margin-left: 83px;
    width: 10rem;
    }
.btn{
    border-radius: 5px;
    margin-top: 10px;
    margin-left: 150px;
    font-size: 15px;
    width: 70px;
    padding: 5px;
}
.data-container{
    margin-left: 40px;
    width: 590px;
}
table, th, td{
    border: 1px solid darkgreen;
    border-collapse: collapse;
    justify-content: center;
    font-size: 15px;
    padding: 5px;
}
th, td{
    overflow-wrap: break-word;
    text-align: center;
    max-width: 150px;
}







.col-1{width: 8.33%;}
.col-2{width: 16.66%;}
.col-3{width: 25%;}
.col-4{width: 33.33%;}
.col-5{width: 41.66%;}
.col-6{width: 50%;}
.col-7{width: 58.33%;}
.col-8{width: 66.66%;}
.col-9{width: 75%;}
.col-10{width: 83.33%;}
.col-11{width: 91.66%;}
.col-12{width: 100%;}