*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    background-color:  #dcdee76b;
}
form{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    box-shadow: #efefef;
    padding: 20px;
    min-height: 70%;
    width: 700px;
}
.wrapper{
    background-color: #b7f5b30a;
    border: 10px solid #efefef;
    padding: 20px;
    margin: 20px;
    width: 85%;
    min-height: 600px;
}
.input-container{
    border: 1px solid darkgray;
    border-radius: 5px;
    font-size: 12px;
    width: 87%;
    height: auto;
    padding: 15px;
    margin-top: 40px;
    z-index: -1;
}
.input-field{
    display: flex;
    justify-content: space-between;
    width: 80%;
    padding: 5px;
}
.select-option{
    display: flex;
    justify-content: space-between;
    width: 68%;
    padding: 5px;
}
.select-option input{
    width: 10rem;
    }
.btn{
    border-radius: 5px;
    margin-top: 10px;
    margin-left: 150px;
    font-size: 12px;
    width: 70px;
    padding: 2px;
}
#emptDiv h2{
    text-align: center;
    font-size: 35px;
}
#submitBtn:hover{
    cursor: pointer;
    background-color: darkgreen;
    color: white;
}
#updateBtn:hover{
    cursor: pointer;
    background-color: darkgreen;
    color: white;
}

.data-container{
    margin-top: 30px;
    width: 97%;
}
th{
    background-color: #efefef;
}
table, th, td{
    border: 1px solid #486154;
    border-collapse: collapse;
    justify-content: center;
    font-size: 12px;
    padding: 3px;
}
th, td{
    overflow-wrap: break-word;
    text-align: center;
    max-width: 150px;
}
tbody tr:hover{
    background-color: #44663cc4;
    font-size: 15px;
    color: white;
}
.editBtn{
    border-radius: 5px;
    font-size: 10px;
    cursor: pointer;
}
.deleteBtn{
    border-radius: 5px;
    font-size: 10px;
    cursor: pointer;
}
.editBtn:hover{
    background-color: darkgreen;
    color: white;
    border-radius: 2px;
}
.deleteBtn:hover{
    background-color: darkgreen;
    color: white;
    border-radius: 2px;
}
@media screen and (max-width: 544px) {
    form{
        background-color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        box-shadow: #efefef;
        padding: 0;
        min-height: 70%;
        width: 100%;
    }
    h2{
        font-size: 15px;
        margin: 5px;
    }
    .wrapper{
        background-color: #b7f5b30a;
        border: 1px solid #efefef;
        width: 100%;
        margin: 0;
        padding: 8px;
        min-height: 600px;
    }
    .input-container{
        border: 1px solid darkgreen;
        border-radius: 5px;
        font-size: 10px;
        width: 100%;
        margin-top: 20px;
        padding: 8px;
        height: auto;
        z-index: -1;
    }
    .select-option{
        width: 71.9%;
    }
    .select-option select{
        width: 8.7rem;
        }
    .btn{
        margin-left: 100px;
        font-size: 10px;
    }
    .data-container{
        margin-top: 20px;
        width: 100%;
    }
    table, th, td{
        border: 1px solid darkgreen;
        font-size: 10px;
        padding: 2px;
    }
    th, td{
        max-width: 100px;
    }
    
}

@media screen and (max-width: 426px) {
    .select-option{
        width: 65.8%;
    }
    .select-option input{
        width: 9.1rem;
        }

}
@media screen and (max-width: 376px) {
    .select-option{
        width: 70.7%;
    }
    .select-option input{
        width: 8.9rem;
        }

}
@media screen and (max-width: 321px) {
    .select-option{
        width: 76.8%;
    }
    .select-option input{
        width: 8.5rem;
        }
    th, td{
      max-width: 90px;
      font-size: 9px;
    }
    .editBtn.deleteBtn{
        font-size: 9px;
    }
}

.col-1{width: 8.33%;}
.col-2{width: 16.66%;}
.col-3{width: 25%;}
.col-4{width: 33.33%;}
.col-5{width: 41.66%;}
.col-6{width: 50%;}
.col-7{width: 58.33%;}
.col-8{width: 66.66%;}
.col-9{width: 75%;}
.col-10{width: 83.33%;}
.col-11{width: 91.66%;}
.col-12{width: 100%;}